@import url(https://fonts.bunny.net/css?family=spectral:400,700);

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --sidebar-color: black;
  --header-color: white;
  --main-content-color: rgb(220, 220, 220);
  --accent-color: rgb(198, 2, 2);
  --button-hover: rgb(38, 38, 38);
  --main-content-shadow: rgb(167, 167, 167);

  font-family: "Spectral", serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.sidebar a {
  color: white;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 180px 1fr;
  grid-template-rows: 150px 1fr;
}

.header {
  background-color: var(--header-color);
  padding: 8px 16px;

  display: grid;
  grid-template-columns: minmax(400px, 1fr) 300px;
  grid-template-rows: 1fr 1fr;
}

.profile-picture {
  height: 40px;
  border-radius: 50%;
  width: 40px;
}

.search {
  grid-column: 1;
  grid-row: 1;
}

.search > form {
  display: grid;
  grid-template-columns: 40px 1fr;
  justify-content: center;
  align-items: center;
}

.search label {
  display: grid;
  align-items: center;
}

.search button {
  background-color: var(--header-color);
  border: 0;
}

#search-icon {
  height: 35px;
}

.search input {
  background-color: var(--main-content-color);
  border: 0;
  border-radius: 25px;
  max-width: 500px;
  padding: 4px 15px;
}

.profile-info {
  grid-column: 2;
  grid-row: 1;

  display: grid;
  grid-template-columns: 60px 60px 120px;
  align-items: center;
  justify-content: end;
  justify-items: center;
}

.alert svg {
  height: 25px;
}

.profile-info .profile-name {
  font-weight: 700;
}

.welcome {
  grid-column: 1;
  grid-row: 2;

  display: grid;
  grid-template-columns: 60px minmax(200px, 1fr);
  grid-template-rows: 36px 36px;
  column-gap: 8px;
  align-items: center;

  font-weight: 700;
}

.welcome > .profile-picture {
  grid-column: 1;
  grid-row: 1/3;
  height: 60px;
  width: auto;
}

.welcome-message {
  align-self: end;
}

.welcome > .profile-name {
  font-size: 24px;
}

.buttons {
  grid-column: 2;
  grid-row: 2;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: end;
  gap: 8px;
}

.buttons button {
  color: white;
  background-color: var(--sidebar-color);
  border-radius: 25px;
  border: 0;
  margin-bottom: 8px;
}

.buttons button:hover {
  background-color: var(--button-hover);
}

.buttons button:active {
  background-color: var(--main-content-color);
  color: black;
}

.sidebar {
  background-color: var(--sidebar-color);
  grid-column: 1;
  grid-row: 1/3;

  display: grid;
  grid-template-columns: 30px 1fr;
  grid-template-rows: 30px repeat(11, 20px);
  column-gap: 4px;
  row-gap: 8px;
  align-items: center;

  color: white;
  padding: 16px 16px 16px 8px;
}

.symbol {
  height: 20px;
  fill: white;
  justify-self: end;
}

.dashboard {
  grid-row: 1;
  font-size: 24px;
}

.dashboard.symbol {
  height: 30px;
}

.home {
  grid-row: 3;
}

.profile {
  grid-row: 4;
}

.messages {
  grid-row: 5;
}

.history {
  grid-row: 6;
}

.tasks {
  grid-row: 7;
}

.communities {
  grid-row: 8;
}

.settings {
  grid-row: 10;
}

.support {
  grid-row: 11;
}

.privacy {
  grid-row: 12;
}

.main-content {
  background-color: var(--main-content-color);
  padding: 16px;
  box-shadow: inset 0 5px 5px var(--main-content-shadow);

  display: grid;
  grid-template-columns: minmax(600px, 1fr) 250px;
  grid-template-rows: 400px 1fr;
  gap: 16px;
}

.projects {
  grid-row: span 2;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: 30px;
  grid-auto-rows: 300px;
  gap: 16px;
}

.projects > .heading {
  grid-column: 1/-1;
  align-self: end;
}

.project {
  background-color: var(--header-color);
  padding: 8px;
  border-radius: 10px;
  border-left: 10px solid var(--accent-color);
  height: 300px;
}

.project.real {
  display: grid;
  grid-template-rows: 150px 24px 1fr 40px;
}

.project.fake {
  display: grid;
  grid-template-rows: 30px 1fr 40px;
}

.project.real img {
  height: 150px;
  place-self: center;
}

.project.fake .description {
  max-height: 214px;
  display: -webkit-box;
  -webkit-line-clamp: 9; /* Truncate after 3 lines */
  line-clamp: 9;
  -webkit-box-orient: vertical; /* Vertical box layout */

  /* Hide overflow and add ellipsis */
  overflow: hidden;
  text-overflow: ellipsis;
}

.project.real .description {
  max-height: 70px;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Truncate after 3 lines */
  line-clamp: 3;
  -webkit-box-orient: vertical; /* Vertical box layout */

  /* Hide overflow and add ellipsis */
  overflow: hidden;
  text-overflow: ellipsis;
}

.project svg {
  height: 25px;
}

.interact {
  display: grid;
  grid-template-columns: repeat(3, 40px);
  justify-content: end;
}

.interact button {
  background-color: var(--header-color);
  border: 0;
}

.interact button:hover {
  fill: var(--button-hover);
}

.interact button:active {
  fill: var(--accent-color);
}

.announcements-container {
  background-color: var(--header-color);
  padding: 16px;
  border-radius: 10px;
  margin-top: 10px;

  display: grid;
  gap: 4px;
}

.announcement {
  border-bottom: 2px solid var(--main-content-color);
}

.announcement p {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Truncate after 3 lines */
  line-clamp: 3;
  -webkit-box-orient: vertical; /* Vertical box layout */

  /* Hide overflow and add ellipsis */
  overflow: hidden;
  text-overflow: ellipsis;
}

.announcement:last-child {
  border: 0;
}

.trending-container {
  background-color: var(--header-color);
  height: 250px;
  padding: 8px;
  border-radius: 10px;
  margin-top: 10px;

  display: grid;
}

.trending-profile {
  display: grid;
  grid-template-columns: 55px 1fr;
  grid-template-rows: 1fr 1fr;
}

.trending-profile > .profile-picture {
  grid-column: 1;
  grid-row: 1/3;
  align-self: center;
  justify-self: center;
}

.profile-tag {
  grid-column: 2;
  align-self: end;
  font-weight: 700;
}

.profile-description {
  align-self: start;
}

.box {
  box-shadow: 2px 2px 2px var(--main-content-shadow);
}
